body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: cursive;
    font-weight:700;
    font-size: 20px;
    margin: 0px;
    flex-grow: 1;
    padding-top: 20px;
}

.row {
    display: flex;
    flex-grow: 1;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: darkslategray;
    border-radius: 5%;
    border-style: double;
    border-color: slategray;
    width: 80px;
    height: 70px;
    color: darkgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    align-content: center;
    display: flex;
    :hover{
        filter:brightness(120%);
    }   
}

#box1, #box2, #box3 {
    display: none;
}

#box4 {
    width: 330px;
    background-image: linear-gradient(slategray, darkslategray, darkslategray, darkslategray);
    border-radius: 8px;

    p {
        font-size: 28px;
        font-weight: 800px;
        text-align: right;
        margin-right: 20px;
        border-bottom: 10px;
    }
}

#box8, #box12, #box16, #box20, #box19, #box17 {
    filter:brightness(90%)
}
